# Binaries
*.o
*.exe
ebpf-threat-detector

# Generated eBPF files
*_bpfel.go
*_bpfeb.go

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
/bin/
/dist/

# Logs
*.log

# Test files
this-is-a-very-long-filename-to-test-comm-limit
